/* Ekiline for WordPress Theme, Copyright 2018 Uri Lazcano. Ekiline is distributed under the terms of the GNU GPL. http://ekiline.com */
/* CSS que afectan al layout general de Ekiline. No sobreescribir. Recomiendo utilizar el editor CSS de Wordpress o los campos personalizados para agregar modificaciones. 
 * CSS that affect the general layout of Ekiline. No override. I recommend using the Wordpress CSS editor or the custom fields to personalize your css.
 */ 

/* Animaciones || Animations */
.navbar,.navbar .navbar-brand,.navbar-nav li a, a:hover, .btn:hover,.icon-bar{-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}

/* Animacion de toggle btn en menu || Toggle navbar btn animation */
.navbar-toggler .icon-bar{background-color:#888;display:block;width:22px;height:2px;border-radius:1px;margin:4px 0px;}
.navbar-toggler .icon-bar:nth-child(1){-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);position:relative;top:6px;}
.navbar-toggler .icon-bar:nth-child(2){width:0%;opacity:0;}
.navbar-toggler .icon-bar:nth-child(3){-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);position:relative;top:-6px;}
.navbar-toggler.collapsed .icon-bar:nth-child(1){-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);position:relative;top:0px;}
.navbar-toggler.collapsed .icon-bar:nth-child(2){width:22px;opacity:1;}
.navbar-toggler.collapsed .icon-bar:nth-child(3){-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);position:relative;top:0px;}

/* Desplace de imagenes */
@keyframes bgresize { 
  0% { background-size: 110%; } 
  100% { background-size: 100%; } 
}
.bg-deep{ 
  animation: bgresize 5s ease; 
  background-position: center center; 
  background-size: 100%;
}
@media only screen and (max-width:768px){ 
  @keyframes bgresize { 
    0% { background-size: 170vh; } 
    100% { background-size: 160vh; } 
  } 
  .bg-deep{ 
    animation: bgresize 5s ease;
    background-position: center top;
    background-size: 160vh;}
}


/* Navegacion extendida || Extended nav items
------------------------------------------------------------------------- */
/* .navbar-collapse{max-height: 80vh;overflow-x: auto;} */
/* Enlace descripcion || Nav link description */
.link-description {display: inline-block;text-transform: initial;white-space: normal;}

/* Enlaces con submenu || Submenu links */
.navbar .dropdown a,.navbar .dropright a, .navbar .dropup a{display:inline-block;width: auto;}
.navbar a.dropdown-toggle-split{float: right;}
  .navbar .scroll-menu.show .dropup a.dropdown-toggle-split,
  .modal .navbar a.dropdown-toggle-split{position: absolute;right: 0;}
    .navbar .dropright .dropdown-menu {margin-left: .25rem;}

/* Flecha en submenu ajustes || Subnav arrow position */
  .modal .navbar .dropright a.dropdown-toggle-split::after,
  .modal .navbar .dropup a.dropdown-toggle-split::after,
  .navbar .order-first .dropright a.dropdown-toggle-split::after,
  .navbar .mega-menu.show.dropdown .sub-menu .dropdown-toggle::after,
  .navbar .scroll-menu.show .dropup .dropdown-toggle::after,
  .navbar .offcanvas.show .dropup a.dropdown-toggle-split::after{border-top: .3em solid;border-right: .3em solid transparent;border-bottom: 0;border-left: .3em solid transparent;} 
  @media only screen and (max-width : 768px) {
    .navbar .dropright a.dropdown-toggle-split::after {border-top: .3em solid;border-right: .3em solid transparent;border-bottom: 0;border-left: .3em solid transparent;}
  }

/* Ajustes de submenu anidado(probable agregar) {position:static;float:none;} */
.navbar-nav .dropdown-menu .dropdown-menu{border-left:0px;border-radius:0px;border-right:0px;}
  .navbar-nav .dropup .dropdown-menu .dropdown-menu{position: static;}

/* Scroller nav */
.nav-scroller {height: 3rem;overflow-y: hidden;line-height: 2;}
.nav-scroller .nav {-ms-flex-wrap: nowrap;flex-wrap: nowrap;overflow-x: auto;white-space: nowrap;-webkit-overflow-scrolling: touch;}
.nav-scroller .nav-link {padding: .5rem;}

/* Estilos de navegación que solo necesitan ejecutarse en móviles */
@media only screen and (min-width : 768px) {
  /*scroll-menu*/  
  .navbar-collapse:not(.order-first) .scroll-menu.dropdown.show, .navbar-collapse:not(.order-first) .scroll-menu.dropup.show{position: inherit;}
  .navbar-collapse:not(.order-first) .scroll-menu.show > .dropdown-menu{max-width: 100%;left: 0;right: 0;margin: 0 auto;border-radius: 0px;display:flex;overflow-x: scroll;/*white-space: nowrap;*/}
  .navbar-collapse:not(.order-first) .scroll-menu.dropdown.show .dropdown,.navbar-collapse:not(.order-first) .scroll-menu.dropdown.show .dropright{display: flex;}
  .navbar-collapse:not(.order-first) .scroll-menu.dropdown .dropdown .dropdown-menu,.navbar-collapse:not(.order-first) .scroll-menu.dropdown .dropright .dropdown-menu{position: static;padding: 0px;display: flex;}
  /*en caso de modal D: */
    .modal .navbar-collapse .scroll-menu.show .dropdown-menu{display: block;overflow: auto;flex-direction: column;}
    .modal .navbar-collapse .scroll-menu.dropdown.show .dropdown,.modal .navbar-collapse .scroll-menu.dropdown.show .dropright{display: block;}
  /*mega-menu*/  
  .navbar-collapse:not(.order-first) .mega-menu.show.dropdown, .navbar-collapse:not(.order-first) .mega-menu.show.dropup{position: inherit;}    
  .navbar-collapse:not(.order-first) .mega-menu.show > .dropdown-menu{max-width: 1120px;left: 0;right: 0;margin: 0 auto;border-radius: 0px;display:flex;flex-wrap: wrap;}
  .navbar-collapse:not(.order-first) .mega-menu.show > .dropdown-menu > li {width: 20%;}
  .navbar-collapse:not(.order-first) .mega-menu.show .dropdown a, .navbar-collapse:not(.order-first) .mega-menu.show .dropright a {display: block;}
  .navbar-collapse:not(.order-first) .mega-menu.show > .dropdown-menu > li > ul.dropdown-menu {display: block;position: static;border-bottom:none;}
  .navbar-collapse:not(.order-first) .mega-menu.show > .dropdown-menu > .menu-item > a.dropdown-item:first-child{text-transform: uppercase;font-size: .875rem;white-space: normal;}    
  .navbar-collapse:not(.order-first) .mega-menu.show.dropdown .sub-menu .dropdown-toggle-split {position: absolute;top: 0px;right: 0;}  
  /*en caso de modal D: */
      .modal .navbar-collapse:not(.order-first) .mega-menu.show > .dropdown-menu > li {width: 100%;}    
  /*Offcanvas nav*/
  .offcanvas.navbar-collapse{ background-color: transparent !important; }
  /* Scroller nav */
  .nav-scroller {height: 2rem;}
}


/* Carrusel extendido || Carousel extended
------------------------------------------------------------------------- */
/* Carousel base */
.carousel .carousel-item{overflow:hidden;}
.no-thumb .carousel-caption{position:relative;left:0;right:0;bottom:0px;}
/* Carousel multiple */
.carousel-multiple {height: inherit;}
.carousel-multiple .carousel-item {height: inherit;}
/* Efectos para carrusel: fade y vertical || Carousel effects: fade and vertical */
.carousel-fade .carousel-inner .carousel-item{opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity;}
.carousel-fade .carousel-inner .active{opacity:1;}
.carousel-fade .carousel-inner .active.carousel-item-left,.carousel-fade .carousel-inner .active.carousel-item-right{left:0;opacity:0;z-index:1;}
.carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,.carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right{opacity:1;}
.carousel-fade .carousel-control{z-index:2;}
/* Vertical FX */
.carousel-vertical .carousel-inner{height:100%;}
.carousel-vertical .carousel-item{-webkit-transition:0.6s ease-in-out top;-moz-transition:0.6s ease-in-out top;-ms-transition:0.6s ease-in-out top;-o-transition:0.6s ease-in-out top;transition:0.6s ease-in-out top;}
.carousel-vertical .active{top:0;}
.carousel-vertical .carousel-item-next{top:400px;}
.carousel-vertical .carousel-item-prev{top:-400px;}
.carousel-vertical .carousel-item-next.carousel-item-left,.carousel-vertical .carousel-item-prev.carousel-item-right{top:0;}
.carousel-vertical .active.carousel-item-left{top:-400px;}
.carousel-vertical .active.carousel-item-right{top:400px;}
.carousel-vertical .carousel-item{left:0;}
/* Carousel con minuaturas, multiples. || Thumbnails in crausel multiples*/
.carousel-thumbs{height:auto;}
.carousel-thumbs .thumbnails.list{margin:0px;}
.carousel-thumbs .carousel-item{height:auto;background-color:none;}
.carousel-thumbs .carousel-inner > .carousel-item{background-color:transparent;}
.carousel-thumbs .carousel-control{}
.carousel-thumbs .carousel-control-prev{left:0;}
.carousel-thumbs .carousel-control-next{right:0;}
/* Regla general: posición de objetos || Rule: object position */
.carousel-multiple .carousel-inner .active.carousel-item-left,.carousel-multiple .carousel-inner .active.carousel-item-right{left:0%;-webkit-transition:all .6s ease 0s;-moz-transition:all .6s ease 0s;-o-transition:all .6s ease 0s;-ms-transition:all .6s ease 0s;transition:all .6s ease 0s;}
.carousel-multiple .carousel-inner .carousel-item > *{display:inline-block;}
/* variable por 2 thumbs (col-sm-6) || 2 thumbs */
.carousel-multiple.x2 .carousel-inner .active.carousel-item-left{-webkit-transform:translate3d(-50%,0,0);-moz-transform:translate3d(-50%,0,0);-ms-transform:translate3d(-50%,0,0);transform:translate3d(-50%,0,0);}
.carousel-multiple.x2 .carousel-inner .active.carousel-item-right{-webkit-transform:translate3d(50%,0,0);-moz-transform:translate3d(50%,0,0);-ms-transform:translate3d(50%,0,0);transform:translate3d(50%,0,0);}
.carousel-multiple.x2 .carousel-inner .carousel-item-prev{left:-50%;}
.carousel-multiple.x2 .carousel-inner .carousel-item-next{left:50%;}
/* variable por 3 thumbs (col-sm-4) || 3 thumbs */
.carousel-multiple.x3 .carousel-inner .active.carousel-item-left{-webkit-transform:translate3d(-33.33333333%,0,0);-moz-transform:translate3d(-33.33333333%,0,0);-ms-transform:translate3d(-33.33333333%,0,0);transform:translate3d(-33.33333333%,0,0);}
.carousel-multiple.x3 .carousel-inner .active.carousel-item-right{-webkit-transform:translate3d(33.33333333%,0,0);-moz-transform:translate3d(33.33333333%,0,0);-ms-transform:translate3d(33.33333333%,0,0);transform:translate3d(33.33333333%,0,0);}
.carousel-multiple.x3 .carousel-inner .carousel-item-prev{left:-33.33333333%;}
.carousel-multiple.x3 .carousel-inner .carousel-item-next{left:33.33333333%;}
/* variable por 4 thumbs (col-sm-3) || 4 thumbs */
.carousel-multiple.x4 .carousel-inner .active.carousel-item-left{-webkit-transform:translate3d(-25%,0,0);-moz-transform:translate3d(-25%,0,0);-ms-transform:translate3d(-25%,0,0);transform:translate3d(-25%,0,0);}
.carousel-multiple.x4 .carousel-inner .active.carousel-item-right{-webkit-transform:translate3d(25%,0,0);-moz-transform:translate3d(25%,0,0);-ms-transform:translate3d(25%,0,0);transform:translate3d(25%,0,0);}
.carousel-multiple.x4 .carousel-inner .carousel-item-prev{left:-25%;}
.carousel-multiple.x4 .carousel-inner .carousel-item-next{left:25%;}
/* variable por 6 thumbs (col-sm-2) || 6 thumbs */
.carousel-multiple.x6 .carousel-inner .active.carousel-item-left{-webkit-transform:translate3d(-16.66666667%,0,0);-moz-transform:translate3d(-16.66666667%,0,0);-ms-transform:translate3d(-16.66666667%,0,0);transform:translate3d(-16.66666667%,0,0);}
.carousel-multiple.x6 .carousel-inner .active.carousel-item-right{-webkit-transform:translate3d(16.66666667%,0,0);-moz-transform:translate3d(16.66666667%,0,0);-ms-transform:translate3d(16.66666667%,0,0);transform:translate3d(16.66666667%,0,0);}
.carousel-multiple.x6 .carousel-inner .carousel-item-prev{left:-16.66666667%;}
.carousel-multiple.x6 .carousel-inner .carousel-item-next{left:16.66666667%;}     
/* Regla general: posición de objetos, después del clic || Objects after clic */  
.carousel-multiple .carousel-inner .carousel-item-next.carousel-item-left{left:0%;}
.carousel-multiple .carousel-inner .carousel-item-prev.carousel-item-right{left:0%;}
.carousel-multiple .carousel-inner .carousel-item-next.carousel-item-left > *{opacity:0;}
.carousel-multiple .carousel-inner .carousel-item-next.carousel-item-left >*:last-child{opacity:1;}
.carousel-multiple .carousel-inner .carousel-item-prev.carousel-item-right >*{opacity:0;}
.carousel-multiple .carousel-inner .carousel-item-prev.carousel-item-right >*:first-child{opacity:1;}
/* Personalización de controles de carrusel || Carousel controls */
.carousel-control-prev-icon,.carousel-control-next-icon{background-size:15px;}
/* Columnas auxiliares (intermedias) || Intermediate columns */
.col-lg-1a5,.col-sm-1a5,.col-xs-1a5,.col-lg-1a7,.col-sm-1a7,.col-xs-1a7,
.col-lg-1a8,.col-sm-1a8,.col-xs-1a8,.col-lg-1a9,.col-sm-1a9,.col-xs-1a9{position:relative;min-height:1px;padding-right:15px;padding-left:15px;float:left;}
.col-lg-1a5,.col-sm-1a5,.col-xs-1a5{width:20%;*width:20%;}
.col-lg-1a7,.col-sm-1a7,.col-xs-1a7{width:14.285714285714285714285714285714%;*width:14.285714285714285714285714285714%;}
.col-lg-1a8,.col-sm-1a8,.col-xs-1a8{width:12.5%;*width:12.5%;}
.col-lg-1a9,.col-sm-1a9,.col-xs-1a9{width:11.1111111%;*width:11.1111111%;}

/* Modulo: Modal || Modals
------------------------------------------------------------------------- */
/* Effectos || Effects: zoom, newspaper, move-horizontal, move-from-bottom, unfold-3d, zoom-out */
.modal.zoom .modal-dialog{-webkit-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;transform:scale(0.6);}
.modal.zoom.show .modal-dialog{-webkit-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;transform:scale(1);}
.modal.newspaper .modal-dialog{-webkit-transition:all 0.5s ease-in-out;transition:all 0.5s;transform:scale(0) rotate(500deg);}
.modal.newspaper.show .modal-dialog{transform:scale(1) rotate(0deg);}
.modal.move-horizontal .modal-dialog{transition:all 0.5s;transform:translateX(-50px);}
.modal.move-horizontal.show .modal-dialog{transform:translateX(0);}
.modal.move-from-bottom .modal-dialog{transition:all 0.5s;transform:translateY(100%);}
.modal.move-from-bottom.show .modal-dialog{transform:translateY(0);}
.modal.unfold-3d .modal-dialog{transition:all 0.5s ease-in-out;transform-style:preserve-3d;transform:rotateY(-60deg);}
.modal.unfold-3d.show .modal-dialog{transform:rotateY(0deg);}
.modal.zoom-out .modal-dialog{transition:all 0.5s;transform:scale(1.3);}
.modal.zoom-out.show .modal-dialog{transform:scale(1);}
/* Modal lateral: agregar "left" or "right" en modal parent div, after class="modal" || Add left or right class in parent div.modal */
.modal.left-aside .modal-dialog,.modal.right-aside .modal-dialog{position:fixed;margin:auto;height:100%;-webkit-transform:translate3d(0%,0,0);-ms-transform:translate3d(0%,0,0);-o-transform:translate3d(0%,0,0);transform:translate3d(0%,0,0);}/*width: 320px;*/
.modal.left-aside .modal-content,
.modal.right-aside .modal-content{height:100%;overflow-y:auto;}
.modal.left-aside .modal-body,
.modal.right-aside .modal-body{padding:15px 15px 80px;}
.modal.left-aside.fade .modal-dialog{left:-320px;-webkit-transition:opacity 0.3s linear,left 0.3s ease-out;-moz-transition:opacity 0.3s linear,left 0.3s ease-out;-o-transition:opacity 0.3s linear,left 0.3s ease-out;transition:opacity 0.3s linear,left 0.3s ease-out;}
.modal.left-aside.fade.show .modal-dialog{left:0;} 
.modal.right-aside.fade .modal-dialog{right:-320px;-webkit-transition:opacity 0.3s linear,right 0.3s ease-out;-moz-transition:opacity 0.3s linear,right 0.3s ease-out;-o-transition:opacity 0.3s linear,right 0.3s ease-out;transition:opacity 0.3s linear,right 0.3s ease-out;}
.modal.right-aside.fade.show .modal-dialog{right:0;}
/** Modal inferior **/
.modal.move-from-bottom .modal-dialog{position:fixed;left:0;right:0;bottom:0;margin:0px auto;height:60%;}
.modal.move-from-bottom .modal-content{height:100%;overflow-y:auto;}

  /*Full modal*/
  .modal,.modal-dialog,.modal-content,.modal-body{-webkit-transition:all .6s ease-in-out !important;-moz-transition:all .6s ease-in-out !important;-ms-transition:all .6s ease-out !important;-o-transition:all .6s ease-in-out !important;transition:all .6s ease-in-out !important;}
  /* .modal-full .modal,.modal-full .modal-body{padding:0px !important;} */
  .modal-full .modal-dialog{width:100%;max-width:100%;margin:0px auto;}
  .modal-full .modal,.modal-full .modal .modal-dialog,.modal-full .modal .modal-content,.modal-full .modal .modal-body{height:100%;}
  .modal-full .modal-backdrop{opacity:.9;}
  /*full modal header y footer*/
  .modal-full .modal-header,.modal-full .modal-footer{position:absolute;z-index:1000;border:none;}
  .modal-full .modal-header{top:0;left:0;right:0;}
  .modal-full .modal-footer{bottom:0;right:0;padding:0px;}
  /*full modal específicos,inline,iframe*/
  .modal-full .window-inline .modal-header{position:relative;}
  .modal-full .window-image,.modal-full .window-image .modal-dialog,.modal-full .window-image .modal-content,.modal-full .window-image .modal-body{height:auto;}
  
  /* Modal con nav || Modal with nav */
  .modal-nav {padding:0px !important;margin:0px auto;}
  .modal-nav .modal-dialog{margin:0px auto;}

/*ajuste en los dispositivos moviles y touch */
.modal-body{-webkit-overflow-scrolling:touch;overflow-y:auto;}

/*Utilidades para grid de listados*/
.col-divider{width: 100%;padding-top: 1px;}
.card-columns{-webkit-column-count: 4;-moz-column-count: 4;column-count: 4;}
  /*En caso de habilitar sidebars 2 o 1*/
  .col-md-6.order-md-2 .card-columns{-webkit-column-count: 2;-moz-column-count: 2;column-count: 2;}
  .col-md-9 .card-columns{-webkit-column-count: 3;-moz-column-count: 3;column-count: 3;}
  /*En caso de habilitar fullwith*/
  .container-fluid .card-columns{-webkit-column-count: 6;-moz-column-count: 6;column-count: 6;}
    /*En caso de habilitar sidebars 2 o 1 con fullwidth*/
    .container-fluid .col-md-6.order-md-2 .card-columns{-webkit-column-count: 3;-moz-column-count: 3;column-count: 3;}
    .container-fluid .col-md-9 .card-columns{-webkit-column-count: 4;-moz-column-count: 4;column-count: 4;}


/*--------------------------------------------------------------------------------
 * CSS RESPONSIVO: Método Escritorio a movil || Desktop First Method
 *-------------------------------------------------------------------------------- 
 */

/* PRIMER CAMBIO: Bootstrap container 1200/992 ( Monitores )
 -------------------------------------------------- */
@media only screen and (max-width : 1200px) {
 .cover-container{width: 100%;}
 /*Utilidades para grid de listados*/
 .card-columns{-webkit-column-count: 3;-moz-column-count: 3;column-count: 3;}
  /*En caso de habilitar sidebars 2 o 1*/
  .col-md-6.order-md-2 .card-columns, .col-md-9 .card-columns{-webkit-column-count: 2;-moz-column-count: 2;column-count: 2;} 
  /*En caso de habilitar fullwith*/
  .container-fluid .card-columns{-webkit-column-count: 4;-moz-column-count: 4;column-count: 4;}
    /*En caso de habilitar sidebars 2 o 1 con fullwidth*/
    .container-fluid .col-md-6.order-md-2 .card-columns{-webkit-column-count: 2;-moz-column-count: 2;column-count: 2;}
    .container-fluid .col-md-9 .card-columns{-webkit-column-count: 3;-moz-column-count: 3;column-count: 3;}


}
@media only screen and (max-width : 992px) {
 .navbar-nav .show .dropdown-menu > li > a{white-space: normal;}	 	
 .navbar .container{padding:0px;}
}

/* SEGUNDO CAMBIO: Bootstrap container 768/480 ( tablet/smarphone-hor )
 -------------------------------------------------- */
@media only screen and (max-width : 768px) {

/*Menu Offcanvas (solo responsivo)*/
.navbar-collapse.offcanvas{position:fixed;z-index:100;top:0;bottom:0;left:100%;width:100%;padding:1rem;overflow-y:auto;visibility:hidden;transition-timing-function:ease-in-out;transition-duration:.2s;transition-property:left,visibility;}
.navbar-collapse.offcanvas .navbar-toggler{float:right;}
.navbar-collapse.offcanvas.collapsing{height:auto;}
.navbar-collapse.offcanvas.show{left:0;visibility:visible;}
  .fixed-bottom .navbar-collapse.offcanvas{top:0;bottom:0;}

/* Carrusel extendido || Carousel extended */
 .carousel-multiple .carousel-item > *:nth-child(n+2){display:none;}
 .carousel-multiple .carousel-inner .carousel-item-next.carousel-item-left >*, .carousel-multiple .carousel-inner .carousel-item-prev.carousel-item-right >*{opacity:1;}
 .carousel-multiple.x2 .carousel-inner .active.carousel-item-left,.carousel-multiple.x3 .carousel-inner .active.carousel-item-left,.carousel-multiple.x4 .carousel-inner .active.carousel-item-left,.carousel-multiple.x6 .carousel-inner .active.carousel-item-left{-webkit-transform:translate3d(-100%,0,0);-moz-transform:translate3d(-100%,0,0);-ms-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);}
 .carousel-multiple.x2 .carousel-inner .active.carousel-item-right,.carousel-multiple.x3 .carousel-inner .active.carousel-item-right,.carousel-multiple.x4 .carousel-inner .active.carousel-item-right,.carousel-multiple.x6 .carousel-inner .active.carousel-item-right{-webkit-transform:translate3d(100%,0,0);-moz-transform:translate3d(100%,0,0);-ms-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);} 
 .col-sm-1a5,.col-xs-1a5,.col-sm-1a7,.col-xs-1a7,.col-sm-1a8,.col-xs-1a8,.col-sm-1a9,.col-xs-1a9{width:100%;*width:100%;}
 
 /*full modal específicos,image,iframe*/
 .modal-full .window-image .modal-body img,.modal-full .window-image .modal-body img.img-fluid{max-width:inherit;} 
 .modal-full .window-image,.modal-full .window-image .modal-dialog,.modal-full .window-image .modal-content,.modal-full .window-image .modal-body{height:100%;} 

 /*Utilidades para grid de listados*/
 .card-columns{-webkit-column-count: 2;-moz-column-count: 2;column-count: 2;}
   /*En caso de habilitar fullwith*/
   .container-fluid .card-columns{-webkit-column-count: 2;-moz-column-count: 2;column-count: 2;}
    /*En caso de habilitar sidebars 2 o 1 con fullwidth*/
    .container-fluid .col-md-6.order-md-2 .card-columns,.container-fluid .col-md-9 .card-columns{-webkit-column-count: 2;-moz-column-count: 2;column-count: 2;}

}

/* TERCER CAMBIO: Bootstrap col-sm 576 ( tablet-ver/smarphone-hor )
 -------------------------------------------------- */
@media only screen and (max-width: 576px) {
/*Utilidades para grid de listados*/
.card-columns{-webkit-column-count: 1;-moz-column-count: 1;column-count: 1;}
  /*En caso de habilitar sidebars 2 o 1*/
  .col-md-6.order-md-2 .card-columns, .col-md-9 .card-columns{-webkit-column-count: 1;-moz-column-count: 1;column-count: 1;} 
  /*En caso de habilitar fullwith*/
  .container-fluid .card-columns{-webkit-column-count: 1;-moz-column-count: 1;column-count: 1;}
    /*En caso de habilitar sidebars 2 o 1 con fullwidth*/
    .container-fluid .col-md-6.order-md-2 .card-columns,.container-fluid .col-md-9 .card-columns{-webkit-column-count: 1;-moz-column-count: 1;column-count: 1;}
}

@media only screen and (max-width : 480px) {}

/* CUARTO CAMBIO: Bootstrap container 320px ( smarphone-ver )
 -------------------------------------------------- */
@media only screen and (max-width : 320px){}	

