
/* ------------------------------------------------------------------------------------------------
* 3) EKILINE ABOVE THE FOLD START
* ------------------------------------------------------------------------------------------------
* ADVERTENCIA: No borrar o modificar las lineas "ekiline-atfcss-start…", "ekiline-atfcss-end…".
* Estas lineas se ocupan como identificadores para extraer los estilos y colocarlos como primera carga.
* functions.php, #260, ekiline_above_fold_styles().
*/
html {scroll-behavior:smooth;}

/* Bootstrap default */
*,::after,::before{box-sizing:border-box}
html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-ms-overflow-style:scrollbar;-webkit-tap-highlight-color:transparent}
@-ms-viewport{width:device-width}
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}
body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff}
dl,ol,ul{margin-top:0;margin-bottom:1rem}
a{color:#007bff;text-decoration:underline;background-color:transparent;-webkit-text-decoration-skip:objects}
article a:not(.btn),article a:not(.entry-title),article a:not(.entry-meta), #comments a, .widget a, .custom-header a{text-decoration: underline;}
img{vertical-align:middle;border-style:none}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}

@media (min-width:1200px){
.container{max-width:1140px}
}

.container-fluid{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}
.order-first{-ms-flex-order:-1;order:-1}
.order-last{-ms-flex-order:13;order:13}

@media (min-width:768px){
.col-md-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}
.col-md-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}
.col-md-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
.col-md-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
.col-md-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
.col-md-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
.order-md-0{-ms-flex-order:0;order:0}
.order-md-1{-ms-flex-order:1;order:1}
.order-md-2{-ms-flex-order:2;order:2}
.order-md-3{-ms-flex-order:3;order:3}
.order-md-4{-ms-flex-order:4;order:4}
.order-md-6{-ms-flex-order:6;order:6}
.order-md-9{-ms-flex-order:9;order:9}
}

.collapse:not(.show){display:none}
.collapsing{position:relative;height:0;overflow:hidden;transition:height .35s ease}

@media screen and (prefers-reduced-motion:reduce){
.collapsing{transition:none}
}

.dropdown,.dropleft,.dropright,.dropup{position:relative}
.dropdown-toggle::after{display:inline-block;width:0;height:0;margin-left:.255em;vertical-align:.255em;content:"";border-top:.3em solid;border-right:.3em solid transparent;border-bottom:0;border-left:.3em solid transparent}
.dropdown-toggle:empty::after{margin-left:0}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:10rem;padding:.5rem 0;margin:.125rem 0 0;font-size:1rem;color:#212529;text-align:left;list-style:none;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,0,0,.15);border-radius:.25rem}
.dropdown-menu-right{right:0;left:auto}
.dropup .dropdown-menu{top:auto;bottom:100%;margin-top:0;margin-bottom:.125rem}
.dropup .dropdown-toggle::after{display:inline-block;width:0;height:0;margin-left:.255em;vertical-align:.255em;content:"";border-top:0;border-right:.3em solid transparent;border-bottom:.3em solid;border-left:.3em solid transparent}
.dropup .dropdown-toggle:empty::after{margin-left:0}
.dropright .dropdown-menu{top:0;right:auto;left:100%;margin-top:0;margin-left:.125rem}
.dropright .dropdown-toggle::after{display:inline-block;width:0;height:0;margin-left:.255em;vertical-align:.255em;content:"";border-top:.3em solid transparent;border-right:0;border-bottom:.3em solid transparent;border-left:.3em solid}
.dropright .dropdown-toggle:empty::after{margin-left:0}
.dropright .dropdown-toggle::after{vertical-align:0}
.dropleft .dropdown-menu{top:0;right:100%;left:auto;margin-top:0;margin-right:.125rem}
.dropleft .dropdown-toggle::after{display:inline-block;width:0;height:0;margin-left:.255em;vertical-align:.255em;content:""}
.dropleft .dropdown-toggle::after{display:none}
.dropleft .dropdown-toggle::before{display:inline-block;width:0;height:0;margin-right:.255em;vertical-align:.255em;content:"";border-top:.3em solid transparent;border-right:.3em solid;border-bottom:.3em solid transparent}
.dropleft .dropdown-toggle:empty::after{margin-left:0}
.dropleft .dropdown-toggle::before{vertical-align:0}
.dropdown-menu[x-placement^=bottom],.dropdown-menu[x-placement^=left],.dropdown-menu[x-placement^=right],.dropdown-menu[x-placement^=top]{right:auto;bottom:auto}
.dropdown-divider{height:0;margin:.5rem 0;overflow:hidden;border-top:1px solid #e9ecef}
.dropdown-item{display:block;width:100%;padding:.25rem 1.5rem;clear:both;font-weight:400;color:#212529;text-align:inherit;white-space:nowrap;background-color:transparent;border:0}
.dropdown-item:focus,.dropdown-item:hover{color:#16181b;text-decoration:none;background-color:#f8f9fa}
.dropdown-item.active,.dropdown-item:active{color:#fff;text-decoration:none;background-color:#007bff}
.dropdown-item.disabled,.dropdown-item:disabled{color:#6c757d;background-color:transparent}
.dropdown-menu.show{display:block}
.dropdown-header{display:block;padding:.5rem 1.5rem;margin-bottom:0;font-size:.875rem;color:#6c757d;white-space:nowrap}
.dropdown-item-text{display:block;padding:.25rem 1.5rem;color:#212529}

.navbar{position:relative;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;padding:.5rem 1rem}
.navbar>.container,.navbar>.container-fluid{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between}
.navbar-brand{display:inline-block;padding-top:.3125rem;padding-bottom:.3125rem;margin-right:1rem;font-size:1.25rem;line-height:inherit;white-space:nowrap}
.navbar-brand:focus,.navbar-brand:hover{text-decoration:none}
.navbar-nav{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none}
.navbar-nav .nav-link{padding-right:0;padding-left:0}
.navbar-nav .dropdown-menu{position:static;float:none}
.navbar-text{display:inline-block;padding-top:.5rem;padding-bottom:.5rem}
.navbar-collapse{-ms-flex-preferred-size:100%;flex-basis:100%;-ms-flex-positive:1;flex-grow:1;-ms-flex-align:center;align-items:center}
.navbar-toggler{padding:.25rem .75rem;font-size:1.25rem;line-height:1;background-color:transparent;border:1px solid transparent;border-radius:.25rem}
.navbar-toggler:focus,.navbar-toggler:hover{text-decoration:none}
.navbar-toggler:not(:disabled):not(.disabled){cursor:pointer}
.navbar-toggler-icon{display:inline-block;width:1.5em;height:1.5em;vertical-align:middle;content:"";background:no-repeat center center;background-size:100% 100%}

@media (max-width:767.98px){
.navbar-expand-md>.container,.navbar-expand-md>.container-fluid{padding-right:0;padding-left:0}
}

@media (min-width:768px){
.navbar-expand-md{-ms-flex-flow:row nowrap;flex-flow:row nowrap;-ms-flex-pack:start;justify-content:flex-start}
.navbar-expand-md .navbar-nav{-ms-flex-direction:row;flex-direction:row}
.navbar-expand-md .navbar-nav .dropdown-menu{position:absolute}
.navbar-expand-md .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem}
.navbar-expand-md>.container,.navbar-expand-md>.container-fluid{-ms-flex-wrap:nowrap;flex-wrap:nowrap}
.navbar-expand-md .navbar-collapse{display:-ms-flexbox!important;display:flex!important;-ms-flex-preferred-size:auto;flex-basis:auto}
.navbar-expand-md .navbar-toggler{display:none}
}

.card{position:relative;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;min-width:0;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,.125);border-radius:.25rem}
.card-deck{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column}
.card-deck .card{margin-bottom:15px}
.card-group{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column}
.card-group>.card{margin-bottom:15px}
.card-columns .card{margin-bottom:.75rem}

.jumbotron{padding:2rem 1rem;margin-bottom:2rem;background-color:#e9ecef;border-radius:.3rem}
.jumbotron-fluid{padding-right:0;padding-left:0;border-radius:0}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;outline:0}

.clearfix::after{display:block;clear:both;content:""}
.d-none{display:none!important}
.d-block{display:block!important}
.d-flex{display:-ms-flexbox!important;display:flex!important}

@media (min-width:768px){
.d-md-none{display:none!important}
.d-md-block{display:block!important}
}

.flex-row{-ms-flex-direction:row!important;flex-direction:row!important}

.justify-content-start{-ms-flex-pack:start!important;justify-content:flex-start!important}
.justify-content-end{-ms-flex-pack:end!important;justify-content:flex-end!important}
.justify-content-center{-ms-flex-pack:center!important;justify-content:center!important}
.justify-content-between{-ms-flex-pack:justify!important;justify-content:space-between!important}
.justify-content-around{-ms-flex-pack:distribute!important;justify-content:space-around!important}

.align-items-start{-ms-flex-align:start!important;align-items:flex-start!important}
.align-items-end{-ms-flex-align:end!important;align-items:flex-end!important}
.align-items-center{-ms-flex-align:center!important;align-items:center!important}
.align-items-baseline{-ms-flex-align:baseline!important;align-items:baseline!important}
.align-items-stretch{-ms-flex-align:stretch!important;align-items:stretch!important}

@media (min-width:768px){
.flex-md-column{-ms-flex-direction:column!important;flex-direction:column!important}
.justify-content-md-between{-ms-flex-pack:justify!important;justify-content:space-between!important}
}

.float-left{float:left!important}
.float-right{float:right!important}

.w-100{width:100%!important}

.m-0{margin:0!important}
.mt-0,.my-0{margin-top:0!important}
.mr-0,.mx-0{margin-right:0!important}
.mb-0,.my-0{margin-bottom:0!important}
.ml-0,.mx-0{margin-left:0!important}

.pb-2,.py-2{padding-bottom:.5rem!important}

.m-auto{margin:auto!important}
.mt-auto,.my-auto{margin-top:auto!important}
.mr-auto,.mx-auto{margin-right:auto!important}
.mb-auto,.my-auto{margin-bottom:auto!important}
.ml-auto,.mx-auto{margin-left:auto!important}

/* Logo en navbar || Brand in navbar */
.navbar-brand img{max-height:32px;max-width:200px;}

/* Animacion de toggle btn en menu || Toggle navbar btn animation */
.navbar-toggler .icon-bar{background-color:#888;display:block;width:22px;height:2px;border-radius:1px;margin:4px 0px;}

/* Custom header */
.bg-deep, .wp-block-cover.bg-deep div{background-size: 1px;background-repeat: no-repeat;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
#custom_header_module .wp-block-cover, #custom_header_module .wp-block-cover.has-background-dim::before{display:flex;align-items:flex-end;}
#custom_header_module > .alignfull {margin-left: calc( -101vw / 2 + 100% / 2);margin-right: calc( -101vw / 2 + 100% / 2);width: 100vw;}
#custom_header_module .wp-block-cover.has-background-dim::before{z-index: 1;opacity: .2 !important;}
#custom_header_module .wp-block-cover .headline {z-index:1;}
#custom_header_module h1{line-height:.88;}

@media only screen and (max-width:576px){
#custom_header_module > .alignfull {margin-left: calc( -100vw / 2 + 100% / 2 );margin-right: calc( -100vw / 2 + 100% / 2); }
}
@keyframes bgresize { 0% { background-size: 150%; } 100% { background-size: 130%; } }
.bg-deep, .wp-block-cover.bg-deep{animation: bgresize 5s ease;background-position: 50% 50%;background-repeat: no-repeat;background-size: 130%;}

@media only screen and (max-width:960px), (aspect-ratio: 1/1), (orientation: portrait) {
   @keyframes bgresize { 0% { background-size: 200vh; } 100% { background-size: 180vh; } }
   .bg-deep, .wp-block-cover.bg-deep{background-size: 180vh;}
}

/* Imagenes */
.wp-block-image img {max-width: 100%;height: auto;}
.wp-block-media-text__media img, .wp-block-media-text__media video {height: auto;}
